<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DosimetriaCTX" connectionString="server=82.165.145.76;user id=sciroot;password=Aritel2011;persist security info=True;database=sci_dosimetria" providerName="MySql.Data.MySqlClient" />
    <add name="LainsaSciCTX" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=sci_dosimetria" providerName="MySql.Data.MySqlClient" />
    <!--<add name="DosimetriaCTX" connectionString="server=localhost;user id=root;password=aritel;database=lainsa_sci;persist security info=True" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
</configuration>