<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LainsaSciCTX" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=falck_sci;Convert Zero Datetime=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="LainsaSciInformes.Properties.Settings.scidosimetria"
            connectionString="server=localhost;User Id=root;password=aritel;Persist Security Info=True;database=sci_dosimetria"
            providerName="MySql.Data.MySqlClient" />
        <add name="LainsaSciInformes.Properties.Settings.scidosimetria1"
            connectionString="server=localhost;User Id=root;database=sci_dosimetria"
            providerName="MySql.Data.MySqlClient" />
        <add name="LainsaSciInformes.Properties.Settings.scidosimetria2"
            connectionString="server=localhost;User Id=root;password=aritel;database=sci_dosimetria;Convert Zero Datetime=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>